/*

    This file takes care of layouts

*/

.btn{
    padding: 0.5rem 1rem;
    display: inline-block;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    background-color: #000;
    transition: all 0.3s ease;
    cursor: pointer;

    &:not([class*=btn-color]):hover{
        color: #000;
        background-color: #fff;
    }
}

// Button hovers
.btn.btn-color-black{
    background-color: #000;

    &:hover{
        color: #000;
        background-color: #fff;
    }

    &.btn.btn-color-light{
        background-color: lighten(#000, 65%);

        &:hover{
            background-color: lighten(#000, 75%);
        }
    }
}

.btn.btn-color-white{
    color: #000;
    background-color: #fff;

    &:hover{
        color: #fff;
        background-color: #000;
    }

    &.btn.btn-color-dark{
        background-color: lighten(#fff, 45%);

        &:hover{
            background-color: lighten(#000, 55%);
        }
    }
}

.btn.btn-color-red:hover{
    background-color: lighten($fusionRed, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: lighten(lighten($fusionRed, $lightenPercentage), 5%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($fusionRed, $darkenPercentage), 5%);
    }
}

.btn.btn-color-pink:hover{
    background-color: lighten($jigglypuff, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: $jigglypuff;
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($jigglypuff, $darkenPercentage), 15%);
    }
}

.btn.btn-color-orange:hover{
    background-color: lighten($orangeHibiscus, 12%);

    &.btn.btn-color-light{
        background-color: lighten(lighten($orangeHibiscus, 12%), 8%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($orangeHibiscus, 15%), 5%);
    }
}

.btn.btn-color-yellow:hover{
    background-color: lighten($flirtatious, 15%);

    &.btn.btn-color-light{
        background-color: lighten(lighten($flirtatious, 12%), 10%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($flirtatious, 15%), 5%);
    }
}

.btn.btn-color-green:hover{
    background-color: lighten($reptileGreen, 17%);

    &.btn.btn-color-light{
        background-color: lighten(lighten($reptileGreen, 17%), 7%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($reptileGreen, 10%), 6%);
    }
}

.btn.btn-color-turquoise:hover{
    background-color: lighten($maximumBlueGreen, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: lighten(lighten($maximumBlueGreen, $lightenPercentage), 8%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($maximumBlueGreen, 10%), 5%);
    }
}

.btn.btn-color-cyan:hover{
    background-color: lighten($highBlue, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: lighten(lighten($highBlue, $lightenPercentage), 8%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($highBlue, $darkenPercentage), 8%);
    }
}

.btn.btn-color-blue:hover{
    background-color: lighten($c64NTSC, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: lighten(lighten($c64NTSC, $lightenPercentage), 5%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($c64NTSC, 15%), 10%);
    }
}

.btn.btn-color-purple:hover{
    background-color: lighten($lighterPurple, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: lighten(lighten($lighterPurple, $lightenPercentage), 5%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($lighterPurple, $darkenPercentage), 10%);
    }
}

.btn.btn-color-silver:hover{
    background-color: lighten($twinkleBlue, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: $twinkleBlue;
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($twinkleBlue, $darkenPercentage), 10%);
    }
}

.btn.btn-color-lightgray:hover{
    background-color: lighten($concrete, $lightenPercentage);

    &.btn.btn-color-light{
        background-color: lighten(lighten($concrete, $lightenPercentage), 8%);
    }

    &.btn.btn-color-dark{
        background-color: darken(darken($concrete, $darkenPercentage), 8%);
    }
}

.btn.btn-color-gray:hover{
    background-color: lighten(lighten($wetAsphalt, $lightenPercentage), 5%);

    &.btn.btn-color-light{
        background-color: lighten(lighten($wetAsphalt, $lightenPercentage), 10%);
    }

    &.btn.btn-color-dark{
        background-color: lighten($midnightBlue, 10%);
    }
}