/*

    All colors taken from the palettes at flatuicolors.com:
    https://flatuicolors.com

*/

$lightenPercentage: 10%;
$darkenPercentage: 20%;

$fusionRed: #fc5c65; // Red
$jigglypuff: #ff9ff3; // Pink
$orangeHibiscus: #fd9644; // Orange
$flirtatious: #fed330; // Yellow
$reptileGreen: #26de81; // Green
$maximumBlueGreen: #2bcbba; // Turquoise
$highBlue: #45aaf2; // Cyan
$c64NTSC: #4b7bec; // Blue
$lighterPurple: #a55eea; // Purple
$twinkleBlue: #d1d8e0; // Silver
$concrete: #95a5a6; // Light gray
$wetAsphalt: #34495e; // Gray
$midnightBlue: #2c3e50; // Gray (dark)