html, body{
    width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    overflow-y: auto;
}

:root{
    font-size: 18px;
}

*{
    box-sizing: border-box;
    outline: none;
}

@import './modules/colors';
@import './modules/typography';
@import './modules/elements';
@import './modules/layouts';
@import './modules/buttons';
@import './modules/form_elements';
@import './modules/procentual_layout';

.reset-margin{margin: 0px;}
.reset-padding{padding: 0px;}