{% extends "layouts/base.twig" %}

{% block css %}
<link rel="stylesheet" href="{{ baseURL }}/assets/css/app.min.css" type="text/css">
<script src="{{ baseURL }}/assets/js/app.min.js"></script>
{% endblock %}

{% block content %}
<div class="container-welcome">
    <h1>Hello {{ slug }}!</h1>
</div>
{% endblock %}